<app-header></app-header>
<main>
  <section class="main-section pad-70">
    <div class="text-area">
      <span>KIPPER CONSULTORIA</span>
      <h1>A consultoria que procura para o seu software</h1>
    </div>
    <div class="image-area">
      <img src="/images/principal.png" alt="Principal" />
    </div>
  </section>

  <section class="benefit-section pad-70">
    <div class="benefit-data">
      <h2>
        95% das<br />
        empresas
      </h2>
    </div>
    <p>
      não sabem como lidar com problemas de <b>escalabilidade</b> e grande volume de requisições.
    </p>
  </section>

  <section class="cta-section">
    <btn-primary btn-text="Fale conosco"></btn-primary>
  </section>

  <app-newsletter-form></app-newsletter-form>

  <section class="benefit-section pad-70">
    <app-benefit
      card-title="Equipe Capacitada"
      card-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur."
      img-path="/images/team.jpg"
    >
    </app-benefit>

    <app-benefit
      card-title="Seus projetos guiados do zero"
      card-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur."
      img-path="/images/projects.jpg"
    >
    </app-benefit>
  </section>
</main>
