<app-header></app-header>
<main>
  <section class="main-section">
    <div class="text-area">
      <span>KIPPER CONSULTORIA</span>
      <h1>A consultoria que procura para o seu software</h1>
    </div>
    <div class="image-area">
      <img src="/images/principal.png" alt="Principal" />
    </div>
  </section>

  <section class="benefit-section">
    <div class="benefit-data">
        <h2>95% das<br/>
        empresas</h2>
    </div>
    <p>não sabem como lidar com problemas de <b>escalabilidade</b> e grande volume de requisições.</p>
  </section>

  <section class="cta-section">
    <btn-primary btn-text="Fale conosco"></btn-primary>
  </section>


</main>
